.blinker-regular {
  font-family: "Blinker", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rosario-regular {
  font-family: "Rosario", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background: #02CCFF;
  background: linear-gradient(37deg, rgba(2, 204, 255, 1) 36%, rgba(81, 143, 168, 1) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.topnav {
  background-color: #111112;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
  font-family: "blinker", sans-serif;
  font-weight: 800;
  font-style: normal;
}

main.site-main {
  flex: 1;
  font-family: "Rosario", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

footer {
  background: #111112;
  padding: 15px 0;
  width: 100%;
  margin-top: auto;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  text-align: center;
  font-family: "blinker", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.footer-content h4 {
  margin: 0;
}
