<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>

    <link rel="stylesheet" href="./template.css">
    <script type="module" src="/src/main.ts"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Blinker&family=Rosario:ital,wght@0,300..700;1,300..700&family=Spline+Sans:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>

    <div class="topnav">
        <a class="projects" href="projects">Projects</a>
        <a href="">Home</a>
        <a href="about">About</a>
    </div>

    <!-- Page Content -->
    <main class="site-main">
     
    </main>

   
    <footer>
        <div class="footer-content">
            <h4><a href="privacypolicy">Privacy Policy</a></h4>
            <h4><a href="attribution">Attribution</a></h4>
            <h4><a href="imcrine">BATTERY ACID 😝</a></h4>
            <h4><a href="ai">AI Usage</a></h4>
            <h4><a href="about">About Me</a></h4>
        </div>
    </footer>

</body>

</html>
