.blinker-regular {
  font-family: "Blinker", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rosario-regular {
  font-family: "Rosario", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.topnav {
  background-color: #111112;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
  text-align: center;
  font-family: "blinker", sans-serif;
  font-weight: 800;
  font-style: normal;
}

body {
  background: #02CCFF;
  background: linear-gradient(37deg, rgba(2, 204, 255, 1) 36%, rgba(81, 143, 168, 1) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html, body {
  height: 100%;
  margin: 0;
}

@keyframes bouncyTilt {
  0% {
    transform: translateY(-20px) rotate(-3deg);
  }
  25% {
    transform: translateY(-10px) rotate(3deg);
  }
  50% {
    transform: translateY(-20px) rotate(-3deg);
  }
  75% {
    transform: translateY(-10px) rotate(3deg);
  }
  100% {
    transform: translateY(-20px) rotate(-3deg);
  }
}

h1.site-title {
  text-align: center;
  font-family: "blinker", sans-serif;
  font-weight: 800;
  font-style: normal;
  animation: bouncyTilt 2s ease-in-out infinite;
}

h2.site-description {
  text-align: center;
  font-family: "blinker", sans-serif;
  font-weight: 600;
  font-style: normal;
}

main.site-main {
  font-family: "Rosario", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.projects-grid {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: stretch;
}

.project-card {
 background: #090979;
background: linear-gradient(0deg, rgba(9, 9, 121, 1) 31%, rgba(0, 212, 255, 1) 100%);
  padding: 20px;
  border-radius: 8px;
  width: 450px;
  text-shadow: #111112 1px;
  color: rgb(233, 233, 233);
  outline: #111112 3px solid;
}

footer {
  background: #111112;
  padding: 15px 0;
  width: 100%;
  margin-top: auto;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  text-align: center;
  font-family: "blinker", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.footer-content h4 {
  margin: 0;
}
